.Pocket-page {
  background: linear-gradient(15deg, rgba(34,94,203,1) 23%, rgba(24,136,231,1) 45%, rgba(35,142,233,1) 61%, rgba(31,134,221,1) 72%, rgba(49,113,206,1) 78%, rgba(111,45,155,1) 93%);
}

.Pocket-page__pocket {
  flex: 2;
  font-size: 60px;
  font-weight: 300;
}

.Pocket-page__names,
.Pocket-page__footer {
  flex: 1;
}

.Pocket-page__footer {
  padding-bottom: 20px;
}

.Pocket-page__exchange-link {
  text-decoration: none;
  color: rgba(255, 255, 255, .6)
}
