.ExchangeIcon {
  border: solid 1px rgba(255, 255, 255, .5);
  border-radius: 50%;
  padding: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .1);
  cursor: pointer;
  
}
.ExchangeIcon:hover .ExchangeIcon__icon{
  transform: rotate(-90deg);
}

.ExchangeIcon__icon {
  width: 40px;
  height: 40px;
  transition: transform .3s ease-in-out;
}

.ExchangeIcon__icon  path {
  fill: #fff;
}
.ExchangeIcon__icon  polyline {
  stroke: #fff;
}