.Button {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, .8);
  font-size: 1em;
  outline: none;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 3px;
  transition: background-color .15s, color .15s;
}

.Button:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, .1);
}

.Button--disabled {
  color: rgba(255, 255, 255, .3);
  cursor: not-allowed;
}
.Button--disabled:hover {
  color: rgba(255, 255, 255, .3);
  background-color: transparent;
}