.App {
  position: relative;
  height: 100vh;
  color: rgba(255, 255, 255, .8);
  overflow: hidden;
}

.page {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 769px) {
  .App {
    margin: 0 auto;
    max-width: 560px;
  }
  
  .page {
    position: absolute;
    max-height: 560px;
    top: 50%;
    transform: translateY(-50%);
  }
}