.Exchange-page {
  background: radial-gradient(circle, rgba(24,136,231,1) 23%, rgba(26,127,225,1) 44%, rgba(34,94,203,1) 73%, rgba(34,94,203,1) 86%);
}

.Exchange-page__wrapper {
  height: 100%;
  width: 100%;
}

.Exchange-page__header {
  flex: 1;
}

.Exchange-page__header,
.Exchange-page__exchange-from {
  background-color: rgba(255, 255, 255, .1);
}

.Exchange-page__exchange-from {
  position: relative;
}

.Exchange-page__exchange-from:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: -30px;
  left: calc(50% - 30px);
	border-width: 30px 30px 0 30px;
	border-color: rgba(255, 255, 255, .1) transparent transparent transparent;
	border-style: solid;
}

.Exchange-page__input-input {
  background: none;
  border: none;
  text-align: right;
}
.Exchange-page__input-input:focus {
  outline: none;
}

.Exchange-page__input-label,
.Exchange-page__input-input {
  color: #fff;
  font-size: 30px;
}
.Exchange-page__input-input {
  max-width: 180px;
  padding: 0 10px;
}

@media only screen and (min-width: 569px) {
  .Exchange-page__input-label,
  .Exchange-page__input-input {
    font-size: 60px;
  }
}

@media only screen and (min-width: 769px) {
  .Exchange-page__input-input {
    max-width: 250px;
  }
}