.Flex {
  display: flex;
  justify-content: center;
}

.Flex--direction-row {
  flex-direction: row;
}
.Flex--direction-column {
  flex-direction: column;
}

.Flex--justify-between {
  justify-content: space-between;
}

.Flex--align-center {
  align-items: center;
}
.Flex--align-end {
  align-items: flex-end;
}
.Flex--flex-1 {
  flex: 1;
}
.Flex--flex-2 {
  flex: 2;
}
.Flex--flex-3 {
  flex: 3;
}
.Flex--flex-4 {
  flex: 4;
}