/* 
   4  8  12 16  24  48
  xxs xs s  m   l   xl

  usage example:
  <Space top size='xl'>...</Space>
*/

/* Top */
.Space--top.xxs {
  margin-top: 4px;
}
.Space--top.xs {
  margin-top: 8px;
}
.Space--top.s {
  margin-top: 12px;
}
.Space--top.m {
  margin-top: 16px;
}
.Space--top.l {
  margin-top: 24px;
}
.Space--top.xl {
  margin-top: 48px;
}
.Space--top.xxl {
  margin-top: 72px;
}

/* Bottom */
.Space--bottom.xxs {
  margin-bottom: 4px;
}
.Space--bottom.xs {
  margin-bottom: 8px;
}
.Space--bottom.s {
  margin-bottom: 12px;
}
.Space--bottom.m {
  margin-bottom: 16px;
}
.Space--bottom.l {
  margin-bottom: 24px;
}
.Space--bottom.xl {
  margin-bottom: 48px;
}
.Space--bottom.xxl {
  margin-bottom: 72px;
}

/* Left */
.Space--left.xxs {
  margin-left: 4px;
}
.Space--left.xs {
  margin-left: 8px;
}
.Space--left.s {
  margin-left: 12px;
}
.Space--left.m {
  margin-left: 16px;
}
.Space--left.l {
  margin-left: 24px;
}
.Space--left.xl {
  margin-left: 48px;
}
.Space--left.xxl {
  margin-left: 72px;
}

/* Right */
.Space--right.xxs {
  margin-right: 4px;
}
.Space--right.xs {
  margin-right: 8px;
}
.Space--right.s {
  margin-right: 12px;
}
.Space--right.m {
  margin-right: 16px;
}
.Space--right.l {
  margin-right: 24px;
}
.Space--right.xl {
  margin-right: 48px;
}
.Space--right.xxl {
  margin-right: 72px;
}

.Space--fullwidth {
  width: 100%;
}